.container{
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  align-items: center;
  min-height: 75vh;
}

.home{
    margin-bottom: 400px;
}

.photoContainer{
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
}

.image{
    height: 350px;
    width: 350px;
    min-width: 200px;
    border-radius: 50%;
    @media screen and (max-width: 1050px) {
        height: 200px;
        width: 200px;
    }
}


.portfolioPhoto{

    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.welcome{
    display: flex;
    margin-left: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aqua;
    font-size: 35px;
}

.name{
    font-size: 40px;
    font-weight: bold;
}

.adjustment{
    font-size: 20px;
    text-align: center;
}


.textContainer{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-style: italic;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: auto;
    width: 100%;
    color: beige;
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: var(--main-color);
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    margin-top: 50px;
  }